<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% block newStyles %}{% endblock %}
        <title>ADMIN | {% block pageTitle %}{% endblock %} - CO Branding.</title>
    {% endblock %}
</head>
<body>
<div id="site-header"><h1>ADMIN Co Branding</h1></div>
{% include 'HBrosAdminBundle:Menus:admin.html.twig' %}
{% include 'HBrosContentBundle:Menus:main.html.twig' %}

<main id="main-region">{% block main %}{% endblock %}</main>

<div id="site-footer">
    {% block footer %}
        &copy; Copyright 2017 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>
