{% extends "HBrosCoreBundle:Layout:base.html.twig" %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
    <article>
        <h1>{{ product.title }}</h1>
        <div id="pdp-price">{{ product.price }}</div>
        <p>{{ product.overview }}</p>
        <h2>Image Gallery</h2>
        {% for product_image in product_images %}
            <img src="{{ asset('images/products/' ~ product_image.src   ) }}" width="" height="">
        {% endfor %}
    </article>
{% endblock %}

