<ul>
    {% for link in links %}
        <li>
            <a href="/{{ link.uri }}" {% if link.uri == app.request.uri %} class="selected" {%  endif %}>
                {{ link.text }}
            </a>
            {% if link.children is defined %}
                <ul>
                    {% for child in link.children %}
                        <li>
                            <a href="/{{ child.uri }}" {% if link.uri == app.request.uri %} class="selected" {%  endif %}>
                                {{ child.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>