{% extends "SWDAdminBundle:Admin:admin.html.twig" %}
{% block title %}{{ page.title }}{% endblock %}
{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

