<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
            {% block newStyles %}{% endblock %}
            <title>{% block pageTitle %}{% endblock %} - Hupump Bros.</title>
        {% endblock %}
    </head>
    <body>
        <div id="site-header"><h1>hbros.</h1></div>
        {#{{ knp_menu_render('SWDCoreBundle:MainBuilder:mainMenu') }}#}
        {% include 'HBrosContentBundle:Menus:main.html.twig' %}
        {% include 'HBrosAdminBundle:Menus:admin.html.twig' %}


        <main id="main-region">{% block main %}{% endblock %}</main>

        <div id="site-footer">
            {% block footer %}
                &copy; Copyright 2017 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
        </div>
    </body>
</html>
