{% extends "HBrosCoreBundle:Layout:base.html.twig" %}
{% block pageTitle %}{{ page.title }}{% endblock %}
{% block main %}
    <h1>{{ page.title }}</h1>
    {{ dump(robots) }}

    {% for robot in robots %}
        {% if robot.path_alias is defined %}

            <li>
            <a href="{{ path('robot_pdp', {'path_alias': robot.path_alias   }) }}">
                {{ robot.title | e }} - {{ robot.price }}
            </a>
</li>
            {% endif %}
    {% endfor %}
{% endblock %}

