{% extends "HBrosCoreBundle:Layout:base.html.twig" %}
{% block pageTitle %}{{page.title}}{% endblock %}
{% block main %}
    <article id="page">
    <h1 id="page-title">{{ page.title }}</h1>
    <section id="page-body">{{ page.body |raw }}</section>

    </article>
{% endblock %}
