{% extends "HBrosCoreBundle:Layout:base.html.twig" %}
{% block pageTitle %}{{page.title}}{% endblock %}
{% block main %}

    {% include 'HBrosContentBundle:Pages:hero.html.twig' %}
    {% include 'HBrosContentBundle:Pages:merchboxes.html.twig' %}


    <section id="home-bottom">

        {% include 'HBrosContentBundle:Pages:testimonials.html.twig' %}
        {% include 'HBrosContentBundle:Pages:latest-model.html.twig' %}

    </section>

{% endblock %}