<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="apps/support-assistant/js/shim.min.js"></script>
    <script src="apps/support-assistant/js/zone.min.js"></script>
</head>
<body>

<my-app>Loading AppComponent content here ...</my-app>

<script src="apps/support-assistant/js/main.js"></script>

</body>
</html>